:root {
    --red-color: #dc3545;
    --red-color-variant-alpha: rgb(200, 0, 0,.25);
    --white-color: #ffffff;
    --black-color: #000000;
    --test-color: #c4c4c4;
    --cover: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    scrollbar-color: var(--red-color) transparent;
    text-decoration: none;
    list-style: none;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0px;
}

.z-3 {
    z-index: 3;
}

a {
    color: var(--black-color);
}

.input-custom-red {
    border-color: var(--black-color);
    border-radius: 5px
}

.input-custom-red:focus {
    outline-color: var(--red-color);
    box-shadow: 0 0 0 0.25rem var(--red-color-variant-alpha);
}

.bg-white {
    background-color: var(--white-color);
}
.bg-test {
    background-color: var(--test-color);
}

.text-1 {
    font-size: 1rem;
}

.text-2 {
    font-size: 1.25rem;
}

.text-3 {
    font-size: 1.5rem;
}

.text-red {
    color: var(--red-color);
}

.text-center {
    text-align: center;
}

.border-r-red-1 {
    border-right: 1px solid var(--red-color);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row ;
}

.block {
    display: block;
}

.w-10 {
    width: 10%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-90 {
    width: 90%;
}

.w-full {
    width: 100%;
}

.min-w-full {
    min-width: 100%;
}

.h-full {
    height: 100%;
}

.min-h-full {
    min-height: 100%;
}

.h-10 {
    height: 1.25rem;
}

.h-11 {
    height: 1.375rem;
}

.h-12 {
    height: 1.5rem;
}

.h-13 {
    height: 1.625rem;
}

.h-14 {
    height: 1.75rem;
}

.h-15 {
    height: 1.875rem;
}

.h-16 {
    height: 2rem;
}

.h-17 {
    height: 2.125rem;
}

.h-18 {
    height: 2.25rem;
}

.h-19 {
    height: 2.375rem;
}

.h-20 {
    height: 2.5rem;
}

.h-90 {
    height: 90%;
}

.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0rem;
}

.ml-1 {
    margin-left: 0.125rem;
}

.ml-2 {
    margin-left: 0.25rem;
}

.ml-3 {
    margin-left: 0.375rem;
}

.ml-4 {
    margin-left: 0.5rem;
}

.ml-5 {
    margin-left: 0.625rem;
}

.ml-6 {
    margin-left: 0.75rem;
}

.ml-7 {
    margin-left: 0.875rem;
}

.ml-8 {
    margin-left: 1rem;
}

.mr-auto {
    margin-right: auto;
}

.mr-0 {
    margin-right: 0rem;
}

.mr-1 {
    margin-right: 0.125rem;
}

.mr-2 {
    margin-right: 0.25rem;
}

.mr-3 {
    margin-right: 0.375rem;
}

.mr-4 {
    margin-right: 0.5rem;
}

.mr-5 {
    margin-right: 0.625rem;
}

.mr-6 {
    margin-right: 0.75rem;
}

.mr-7 {
    margin-right: 0.875rem;
}

.mr-8 {
    margin-right: 1rem;
}

.mt-0 {
    margin-top: 0rem;
}

.mt-1 {
    margin-top: 0.125rem;
}

.mt-2 {
    margin-top: 0.25rem;
}

.mt-3 {
    margin-top: 0.375rem;
}

.mt-4 {
    margin-top: 0.5rem;
}

.mt-5 {
    margin-top: 0.625rem;
}

.mt-6 {
    margin-top: 0.75rem;
}

.mt-7 {
    margin-top: 0.875rem;
}

.mt-8 {
    margin-top: 1rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.mb-1 {
    margin-bottom: 0.125rem;
}

.mb-2 {
    margin-bottom: 0.25rem;
}

.mb-3 {
    margin-bottom: 0.375rem;
}

.mb-4 {
    margin-bottom: 0.5rem;
}

.mb-5 {
    margin-bottom: 0.625rem;
}

.mb-6 {
    margin-bottom: 0.75rem;
}

.mb-7 {
    margin-bottom: 0.875rem;
}

.mb-8 {
    margin-bottom: 1rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.fw-bold {
    font-weight: bold;
}

.fw-xbold {
    font-weight: bolder;
}

.p-0 {
    padding: 0rem;
}

.p-1 {
    padding: 0.125rem;
}

.p-2 {
    padding: 0.25rem;
}

.pl-0 {
    padding-left: 0rem;
}

.pl-1 {
    padding-left: 0.125rem;
}

.pl-2 {
    padding-left: 0.25rem;
}
.items-center {
    align-items: center;
}

.gap-0 {
    gap: 0rem;
}

.gap-1 {
    gap: 0.125rem;
}

.gap-2 {
    gap: 0.25rem;
}

.gap-3 {
    gap: 0.375rem;
}

.gap-4 {
    gap: 0.5rem;
}

.btn {
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.btn-dark {
    background-color: var(--black-color);
    color: var(--white-color);
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.boxAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cover);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.boxAlertBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: white;
    padding: 8px;
    border: 4px solid var(--red-color);
    border-radius: 10px;
}

