.tv_show_detail {
    flex: 2;
    margin-top: 15vh;
}

.title {
    font-weight: 400;
    font-size: 35px;
}

.overview:hover {
    overflow-y: auto;
}

.overview {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin-top: 10px;
}