<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Démo Express</title>
    </head>
    <body>
        <h2>Accueil</h2>
        <h3>Mon image</h3>
        <img src="/images/bluebird.jpg" alt="blue bird" />
        <h3>Mon formulaire</h3>
        <form action="/form" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="" />
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="" />
            <button type="submit">Envoyer</button>
        </form>
    </body>
</html>
