.container {
    padding: 50px;
    background-color: white;
    border-radius: 22px;
    min-width: 33%;
    position: relative;
}

.icon {
    cursor: pointer;
}

.title_input_container {
    max-width: 300px;
}

.submit_btn {
    text-align: right;
}

.content {
    width: inherit;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px
}